/*data-styled-components="fdvAUU beBVBG gSaRQX wstDz kNAwVG eOlkiO iiCfMw hOpfNB hkCpbl fOysFh epeevU dyihyA brDmTL ircegq"*/
	/* sc-component-id: sc-iRbamj */
	.sc-iRbamj {}

	.fdvAUU {
		font-size: 0.512rem;
		color: #999;
	}

	/* sc-component-id: sc-gisBJw */
	.sc-gisBJw {}

	.beBVBG {
		height: 2.048rem;
		position: relative;
		padding: 0 0.5973333333333334rem;
	}

	/* sc-component-id: sc-kjoXOD */
	.sc-kjoXOD {}

	.gSaRQX {
		font-size: 0.64rem;
		color: #333333;
		line-height: 2.048rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	/* sc-component-id: sc-cHGsZl */
	.sc-cHGsZl {}

	.wstDz {
		position: absolute;
		right: 0.256rem;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 1.024rem;
		height: 1.024rem;
	}

	/* sc-component-id: sc-gGBfsJ */
	.sc-gGBfsJ {}

	.kNAwVG {
		margin-bottom: 2.048rem;
		background: rgb(244, 244, 248);
	}

	/* sc-component-id: sc-jnlKLf */
	.sc-jnlKLf {}

	.eOlkiO {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		background: #fff;
		padding: 0.4693333333333333rem 0.4266666666666667rem;
	}

	/* sc-component-id: sc-fYxtnH */
	.sc-fYxtnH {}
	.hkCpbl {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		height: 1.28rem;
		text-align: center;
		border: 1px solid #666666;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background: #ffffff;
		color:#666;
	}

	.iiCfMw {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		height: 1.28rem;
		text-align: center;
		border: 1px solid #666666;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background: #666666;
		color: #fff;
	}

	

	/* sc-component-id: sc-tilXH */
	.sc-tilXH {}

	.hOpfNB {
		font-size: 0.5973333333333334rem;
		color: #ffffff;
	}

	.fOysFh {
		font-size: 0.5973333333333334rem;
		color: #666666;
	}

	/* sc-component-id: sc-hEsumM */
	.sc-hEsumM {}

	/* sc-component-id: sc-ktHwxA */
	.sc-ktHwxA {}

	.dyihyA {
		padding-bottom: 0.384rem;
		padding-top: 0.5973333333333334rem;
		padding-left: 0.5973333333333334rem;
		padding-right: 0.5973333333333334rem;
		margin-bottom: 0.4266666666666667rem;
		background: #fff;
	}

	/* sc-component-id: sc-cIShpX */
	.sc-cIShpX {}

	.brDmTL {
		color: #f70;
		font-size: 0.5973333333333334rem;
		text-align: left;
	}

	/* sc-component-id: sc-kafWEX */
	.sc-kafWEX {}

	.ircegq {
		color: #9b9b9b;
	}
	/* sc-component-id: sc-iELTvK */
	.sc-iELTvK {}

	.fNsQUK {
		width: 16rem;
		display: block;
	}

