/*data-styled-components="gHyDBV iWGNAQ iwQlpP ewzTJI eAUfqE WySNi dsGqKv ebsHjU efcxPt"*/
	/* sc-component-id: sc-RefOD */
	.sc-RefOD {}

	.gHyDBV {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0.5973333333333334rem;
		background-color: #fff;
		margin-bottom: 0.4266666666666667rem;
	}

	/* sc-component-id: sc-iQKALj */
	.sc-iQKALj {}

	.iWGNAQ {
		width: 1.92rem;
		height: 1.92rem;
		border: 1px solid #e7e7e7;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	/* sc-component-id: sc-bwCtUz */
	.sc-bwCtUz {}

	.iwQlpP {
		width: 1.92rem;
	}

	/* sc-component-id: sc-hrWEMg */
	.sc-hrWEMg {}

	.ewzTJI {
		margin-left: 0.4266666666666667rem;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}

	/* sc-component-id: sc-eTuwsz */
	.sc-eTuwsz {}

	.eAUfqE {
		color: #333;
		font-size: 0.6826666666666666rem;
		text-align: left;
	}

	/* sc-component-id: sc-gwVKww */
	.sc-gwVKww {}

	.WySNi {
		color: #999;
		font-size: 0.512rem;
		text-align: left;
	}

	/* sc-component-id: sc-hXRMBi */
	.sc-hXRMBi {}

	.dsGqKv {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border: 1px solid #4a4a4a;
		height: 1.1946666666666668rem;
		padding-left: 0.384rem;
	}

	/* sc-component-id: sc-epnACN */
	.sc-epnACN {}

	.ebsHjU {
		color: #333;
		font-size: 0.512rem;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		white-space: nowrap;
	}

	/* sc-component-id: sc-iQNlJl */
	.sc-iQNlJl {}

	.efcxPt {
		width: 1.024rem;
		height: 1.024rem;
		margin-left: auto;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}
