/*data-styled-components="jVdqXb jTpZiT cDNDuJ dxtDGP jktfkc iwGMSN cApFiQ ktaNAK gjbwoN fOzlGi lcVTjL QcHRp kDoQxf*/

/* sc-component-id: sc-elJkPf */
.sc-elJkPf {}

.lcVTjL {
	background-size: cover;
	position: absolute;
	bottom: -0.53333rem;
	right: 0.34133rem;
	width: 2.13333rem;
	height: 1.06667rem;
	border: 1px solid #ebebeb;
	background-color: #fff;
}

/* sc-component-id: sc-jtRfpW */
.sc-jtRfpW {}

.QcHRp {
	width: 100%;
	display: block;
}

/* sc-component-id: sc-kTUwUJ */
.sc-kTUwUJ {}

.kDoQxf {
	color: #bbb;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0.3413333333333333rem;
	font-size: 0.4266666666666667rem;
}

/* sc-component-id: sc-gzOgki */
.sc-gzOgki {}

.jVdqXb {
	width: 16rem;
	height: 1.8773333333333333rem;
	padding: 0 0.5973333333333334rem;
	padding-right: 0;
	border-bottom: 1px solid #f2f2f2;
	box-sizing: border-box;
	background-color: #fff;
	overflow: hidden;
}

/* sc-component-id: sc-iyvyFf */
.sc-iyvyFf {}

.jTpZiT {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* sc-component-id: sc-hwwEjo */
.sc-hwwEjo {}

.cDNDuJ {
	position: relative;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 1.1946666666666668rem;
	background-color: #f2f2f2;
	border-radius: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 0.512rem;
	color: #666;
}

.cDNDuJ>.search-icon {
	width: 0.64rem;
	height: 0.64rem;
	margin: 0 0.21333333333333335rem;
}

.cDNDuJ>.search-icon>.iconfont {
	font-size: 0.64rem;
}

.cDNDuJ>.search-img {
	height: 0.64rem;
	margin: 0 0.21333333333333335rem;
}

/* sc-component-id: sc-kPVwWT */
.sc-kPVwWT {}

.jktfkc {
	width: 1.8773333333333333rem;
	height: 1.8773333333333333rem;
}

/* sc-component-id: sc-kfGgVZ */
.sc-kfGgVZ {}

.dxtDGP {
	height: 100%;
	display: block;
}

/* sc-component-id: sc-esjQYD */
.sc-esjQYD {}

.iwGMSN {
	width: 1.70667rem;
	height: 1.70667rem;
	border-radius: 50%;
	position: fixed;
	bottom: 2.3466666666666667rem;
	right: 4%;
	display: none;
}

/* sc-component-id: sc-kIPQKe */
.sc-kIPQKe {}

.cApFiQ {
	position: absolute;
	display: block;
	width: 100%;
	height: auto;
}

/* sc-component-id: sc-eXEjpC */
.sc-eXEjpC {}

.gjbwoN {
	height: 2.3893333333333335rem;
}

/* sc-component-id: sc-ibxdXY */
.sc-ibxdXY {}

.fOzlGi {
	width: 100%;
	height: 2.3893333333333335rem;
}

/* sc-component-id: sc-iQKALj */
.sc-iQKALj {}

.ktaNAK {
	position: relative;
	height: 8.533333333333333rem;
	background-color: #fff;
}
